@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter";
  min-width: 100%;
  box-sizing: border-box;
  clip-path: border-box;
}

.header {
  background: rgba(255, 255, 255, 0.26);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  z-index: 10;
  @media (min-width: 768px) {
    background: transparent;
    backdrop-filter: none;
  }
}

.navbar {
  background: rgba(255, 255, 255, 0.26);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.shape {
  width: 200px;
  height: 200px;
  left: 40%;
  bottom: 100px;
  background: radial-gradient(circle at 90% 70%, #d7eaff, transparent 50%),
  radial-gradient(circle at 20% 90%, #ff8580, transparent 70%),
  radial-gradient(circle at 95% 15%, #9ba0ff, transparent 50%),
  radial-gradient(circle at 20% 35%, #b2ffd8, transparent 50%),
  linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)),
  linear-gradient(135deg, #e1f4ff, #ff7741);
  border-radius: 100%;
}


.shape2 {
  width: 400px;
  height: 400px;
  right: 100px;
  bottom: -400px;
  background: radial-gradient(circle at 90% 90%, #75e8d6, transparent 40%),
  radial-gradient(circle at 70% 65%, #ffffff, transparent 40%),
  radial-gradient(circle at 20% 80%, #e9a9a9, transparent 70%),
  radial-gradient(circle at 25% 30%, #ff9b9b, transparent 70%),
  linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  ),
  linear-gradient(232deg, #6ffdf6ab, #75e8d6);
  border-radius: 100%;
}

.main-container {
  padding: 1rem 1rem 1rem 1rem;
  /* overflow: scroll; */
  width: 100%;
  min-height: calc(100svh - 112px);
  @media (min-width: 768px) {
    max-width: 40rem;
    margin: auto;
  }
}

.card {
  background: rgba(255, 255, 255, 0.308);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-auth {
  padding: 2rem 1.5rem 2rem 1.5rem;
  gap: 1.25rem;
  flex-direction: column;
}

.card-post {
  padding: 1rem 1rem 1rem 1rem;
  gap: 0.75rem;
  justify-content: flex-start;
  align-items: flex-start;
}

/* [class^="like-icon"] {
  width: 1rem;
  height: 1rem;
} */

/* .no-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display: none;
  }
} */

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.gradient-border {
  background: rgba(237, 0, 0, 0) padding-box,
    linear-gradient(to bottom, white, rgba(237, 0, 0, 0)) border-box;
  border-radius: 20px;
  border: 4px solid transparent;
}
